<%= form_for [current_user, @message] do |f| %>
  
  <div class="form-group">
    <%= f.label :sender_id %>
    <%= f.text_field :sender_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :respondent_id %>
    <%= f.text_field :respondent_id, value: @user.id, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

<%= f.submit "Send message", class: "btn btn-large btn-success" %>
<% end %>