<div class="row ml-0 mr-0 message-respond-form talk-with-<%= @opponent.id %>" id="message-respond-<%= @opponent.id %>">
            <div class="col-12">
        
          <%= form_for [@user, @message], remote: true do |f| %>
            <%= f.hidden_field :respondent_id, value: @opponent.id %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.text_field :body, placeholder: "Answer to #{@opponent.name}", :autofocus => true, class: "chat-field" %>
            <%= f.submit "Reply", class: "btn btn-success message-submit" %>
          <% end %>
        </div>
      </div>
