<%  provide(:title, "Sign In")  %>

<div class="in-up-form">
<h1><strong>Sign In</strong></h1>
    <%= form_for(:session, url: sessions_path) do |f| %>
        
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        
        <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class=>"form-control" %>
        </div>
        
        <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class=>"form-control" %>
        </div>

        <div class="form-group">
        <%= f.submit "SignIn", class: "btn btn-large btn-success" %>
        </div>
    
    <% end %>
    <p>New to <strong>Travel HIPE?</strong> <%= link_to "Sign UP now!", signup_path %></p>
</div>