<%= form_for [current_user, @post] do |f| %>

<%= render 'shared/forms_errors', object: @post %>

<a href="#" onclick="initMap()">Select places</a>
  
  <div class="selected-places">
  </div>
    
    <div id="new-places">
    
    </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id,  Category.all, :id, :name, { include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :all_tags %>
    <%= f.text_field :all_tags, class: "form-control"%>
  </div>


  <%= f.submit "Edit", class: "btn btn-success" %>
<% end %>