<%= form_for [current_user, @post] do |f| %>

<%= render 'shared/forms_errors', object: @post %>

  

    
  <div id="new-places">
  
    <% @post.places.each_with_index do |place, index| %>
      <%= fields_for "places[place#{index}]", place do |f_p| %>
        <div id="places-item-<%= index %>">
          <%= f_p.hidden_field :name %>
          <%= f_p.hidden_field :ident %>
        </div>    
      <% end %>
    <% end %>
  </div>

    <% if @post.post_img.url.nil? %>
      <div class="post-title-edit">
        <h3>Customize your post with head image!</h3>
        <h5>Just select an image from your gallery or upload a new one</h5>
        <a href="<%= gallery_path(@user, @post) %>" class="btn btn-secondary" id="get-image" data-remote=true>get image</a>
      </div>    
    <% else %>
      <div class="post-title">
        <%= image_tag(@post.post_img.url, class: "post-img") %>
      </div>
    <% end %>

    <%= text_field_tag(:coord_x) %>
    <%= text_field_tag(:coord_y) %>
    <%= text_field_tag(:coord_w) %>
    <%= text_field_tag(:coord_h) %>
  

  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :body %>
    <%= f.hidden_field :body, class: "form-control", id: "x" %>
    <trix-editor input="x"></trix-editor>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id,  Category.all, :id, :name, { include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :all_tags %>
    <%= f.text_field :all_tags, class: "form-control"%>
  </div>


  <%= f.submit "#{@sign}", class: "btn btn-success" %>
<% end %>


