
<div class="post-medium">
<h4><strong><%= post.title %></strong></h4>
    
<div class="post-title">
    <div class="left">
      <i><small><%= post.created_at.strftime("%d-%B-%Y") %></small></i>
    </div>
    <div class="right">
          <div class="in">
              <span class="material-icons">edit</span><%= link_to "Edit post", edit_user_post_path(current_user, post), class: "edit-post text-secondary" if post.user.id == current_user.id %>
                
              <span class="material-icons">location_on</span><span><%= post.places.count %></span>
              <span class="material-icons">visibility</span><span><%= post.shows %></span>
              <span class="material-icons">thumb_up</span><span> 214</span>
          </div>
      </div>
      </div>

    <div class="post-head">
      
       <%= render partial: 'shared/tags', object: post, as: "post" %>

       <%= post.post_img? ? image_tag(post.post_img.url)  : image_tag("/assets/post_head.jpg") %>
      </div> <!-- /imagefooter -->
     
     <div class="post-body">
      <p class="mb-0"><%= truncate(post.body, length: 380, separatopr: ' ') %></p>
      <center><%= link_to 'read more', post_path(post), class: "text-secondary" %></center>  
     </div>
     
     

<div class="dropdown-divider"></div>

</div><!--/post-->

  