<!DOCTYPE html>
<html>
  <head>
    <title><%= dynamic_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
<!--pop-ups-->
    <%= render '/shared/popup' %>

<!--NavBar-->
    <%= render 'layouts/nav_bar' %>
    
    
<%= yield(:slider) %>



      <div class="container main">
<!--alerts-->
      <%= render '/shared/alerts' %>
<!--/alerts-->      
      
      <div class="second-navbar">
        <div class="second-navbar-item" id="drop-item">
          <h5>Categories</h5> 
            <div class="drop" id="drop-1">
              <ul>
                <% Category.all.each do |cat| %>
                  <li class="drop-li"><%= link_to cat.name, category_path(cat) %></li>
                <% end %>
              </ul>
            </div>
        </div>
        <div class="second-navbar-item">
          <a href="#"><h5>Places</h5></a>  
        </div>
        <div class="second-navbar-item">
          <a href="#"><h5>Countries</h5></a>  
        </div>
        <div class="second-navbar-item">
          <a href="#"><h5>TravellHacks</h5></a>  
        </div>
      </div>

        
           
        <%= yield %>
         
        <footer class="footer-signed-in">
        <%= render 'layouts/footer' %>
        </footer> <!-- /.row/footer -->
      </div><!-- /.container -->
   
   
 


  </body>
</html>
